.services {
    margin-top: 0px;
}

h1 {
    font-size: 30px;
    max-width: 400px;
    
}

.bloc-md {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
}

.activities-description {
    font-size: 18px;
    
}

.med-width-whitespace {
    max-width: 700px;
}

.form-container {
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

/* #bloc-contact button, #bloc-1-hero button {
    width: 300px;
}

#bloc-3-what-i-do button {
    width: 600px;
} */

#bloc-3-what-i-do h2 {
    font-size: 24px;
}

.partenaires-list ul {
    flex-direction: column;
    align-items: center;
}

#bloc-2-services, #bloc-4-portofolio {
    margin: 30px;
}





